.c {
  height: 100vh;
  position: relative;
}
.c-bg {
  width: 20px;
  height: 100%;
  background-color: #59b256;
  position: absolute;
}
.c-wrapper {
  padding: 50px;
  display: flex;
}
.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  width: 70%;
}
.c-text {
  margin-left: 20px;
}
.c-desc {
  font-weight: 200;
}
form {
  margin-top: 20px;
  display : flex;
  flex-direction : column;

}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  
}
.c-textArea {
 border: 1px solid black;
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
.c-btn {
  border: none;
  padding: 10px 20px;
  background-color: #59b256;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.done-text {
  padding: 10px;
  color: #59b256;
}
@media screen and (max-width: 500px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .c-title {
    font-size: 30px;
  }
  .c-info-item {
    margin: 10px 0px;
    width: 100%;
  }
  .c-desc {
    display: none;
  }
  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 35%;
    margin: 10px;
    margin-left: 0px;
  }
}
